<h1>Adam Crownoble</h1>
<h2>Principal Software Engineer</h2>

<aside class="contact">
  <!-- <a class="website" href="http://crownoble.com">crownoble.com</a> -->
  <a class="email" href="mailto:adam@crownoble.com">
    <img src="/images/email.svg" alt="Email Icon" class="icon">
    adam@crownoble.com
  </a>
  <a class="phone" href="tel:+19282394003">
    <img src="/images/phone.svg" alt="Phone Icon" class="icon">
    928 239 4003
  </a>
  <a class="linkedin" href="https://www.linkedin.com/in/adamcrownoble/">
    <img src="/images/linkedin.svg" alt="LinkedIn Icon" class="icon">
    <span class="print-only">linkedin.com/in/adamcrownoble/</span>
  </a>
  <a class="github" href="https://github.com/adamcrown">
    <img src="/images/github.svg" alt="GitHub Icon" class="icon">
    <span class="print-only">github.com/adamcrown</span>
  </a>
</aside>
