*
  font-family: Karla, sans-serif
  line-height: 1.5

body
  margin: 50px
  padding: 0
  text-align: center

.wrapper
  width: 600px
  margin: 0 auto
  text-align: left

header
  aside
    text-align: right
    color: #6a6a6a

h1, h2, h3
  font-family: "Slabo 27px", serif

h1
  margin-bottom: 4px
  font-size: 30pt
  font-weight: bold
  color: #00215E
  border-bottom: solid #943E28 2px

h2, h3
  font-weight: normal

h2
  font-size: 22pt
  margin-top: 50px
  margin-bottom: 0

h3
  font-size: 16pt
  margin: 0

ul
  margin-top: 5px
  li
    margin-bottom: 3px
    list-style-type: square

p
  margin-top: 5px
  margin-bottom: 20px

a
  color: #924E3D
  text-decoration: none
  &:hover
    color: #F57D5E

footer
  margin-top: 50px
  text-align: center
  font-size: 0.9em
  color: #6a6a6a

.technologies
  margin-top: 40px
  -webkit-column-count: 2
  -moz-column-count: 2
  column-count: 2
