@font-face
  font-family: 'Karla'
  font-style: normal
  font-weight: 400
  src: url('/fonts/karla-latin-ext.woff2') format('woff2')
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF

@font-face
  font-family: 'Karla'
  font-style: normal
  font-weight: 400
  src: url('/fonts/karla-latin.woff2') format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face
  font-family: 'Slabo 27px'
  font-style: normal
  font-weight: 400
  src: url('/fonts/slabo-27px-latin-ext.woff2') format('woff2')
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF

@font-face
  font-family: 'Slabo 27px'
  font-style: normal
  font-weight: 400
  src: url('/fonts/slabo-27px-latin.woff2') format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

*
  font-family: Karla, sans-serif
  line-height: 1.5

body
  margin: 50px
  padding: 0
  text-align: center

.wrapper
  width: 600px
  margin: 0 auto
  text-align: left

header
  aside
    text-align: right
    border-top: solid #943E28 2px

    a
      display: block
      color: #6a6a6a

h1
  margin-bottom: 0
  font-size: 30pt
  font-weight: bold
  color: black
  font-family: "Slabo 27px", serif

h2
  margin-top: 0
  font-size: 16pt
  color: #6a6a6a

h2, h3, h4
  font-weight: normal

h3
  font-size: 22pt
  margin-top: 50px
  margin-bottom: 0

h4
  font-size: 16pt
  margin: 0

ul
  margin-top: 5px
  li
    margin-bottom: 3px
    list-style-type: square

p
  margin-top: 5px
  margin-bottom: 20px

a
  color: #924E3D
  text-decoration: none
  &:hover
    color: #F57D5E

footer
  margin-top: 50px
  text-align: center
  font-size: 0.9em
  color: #6a6a6a

.technologies
  margin-top: 40px
  -webkit-column-count: 2
  -moz-column-count: 2
  column-count: 2
